html {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
  .header {
    color: #ffffff;
  }
  
div.topnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7dd9e8;
    padding:17px 3% 15px 3%;
    
  }

.logo{
    margin:auto;
    width:60%;
    height:49px;
    float:left;
}

.logoUser{
    height:49px;
}

.logo img{
    height:auto;
    max-width:100%;
}

.info{
    width:30%;
    height:50px;
    float:right;
    position: relative;
    color:black;
}

.searchBar{
    margin:20px auto 9px auto;
    height: 24px;
    width: 90%;
    max-width: 340px;
}

.searchInput{
	background: url("../images/search-bar.png"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
	width: 81%;
    max-width:276px;
	float: left;
}

.centerv {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, 50%);
  }

.searchInput span img{
    max-width: 100%;
    width: 4%;
}

.searchInput input{
	width: 86%; 
	background-color: transparent; 
	border: 0 solid; 
	padding: 3px 8px;
	font-size: 10px;
}


.searchButton a{
    text-decoration: none;
    color:white;
    font-size: 8px;
    width:100%;
    line-height: 18px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


.searchButton{
    float: right;
    margin: 0px 0px 0px 0px;
    width:15%;
    max-width:52px;
    background-image: url("../images/search-btn-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align:center;   
}



.bottomnav ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color:#f5f5f5;
    color:black;
  }

  


  .bottomnav ul.left{
      font-size: 13px;
  }

  .bottomnav ul.right{
    font-size: 11px;

}
  
  .bottomnav ul>li {
  margin:0px 0px 0px 0px;
  float: none;}
  
  .bottomnav ul>li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
  }
  
  .bottomnav >ul li a:hover {background-color: white;}
  
  

  
.username{
    font-size: 15px;
    text-align: right;
    height:25px;
    float: right;
    padding: 0px 2px 0px 0px;
}
 


.dropbtn {
    background-color:black;
    padding: 1px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    height:25px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:#FFFFFF;
  }


.logoUser .searchBar{
    display:none;
}

.info .options{
    display:none;
}
.options a{
    text-decoration: none;
    color:black;
}

.nav-item {
    display: inline-block;
  }

.nav-item:before {
    content: "| ";
  }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.nav-item:first-child:before {
    content: none;
  }

.RecentSearches{
    width: 95%;
    margin: 30px auto 30px auto;
    background-color: #f2f2f2;
    vertical-align: top;
}

.title{

    height: 42px;
    background-color: #2fc1da;
    color: white;
    /*padding:13px 12px 14px 12px;*/
    font-size:16px;
    text-align: center;
    line-height: 42px;

}

.search ul{
	font-size: 11px;    
}

.left.search ul li{
	width: 100%;
    display: table;
}


.search ul li:hover{
	background-color: #fff;
}

.search li a{
    color:black;
}

.left.search li a:first-child{
	float: left;
	width: 137px;
	padding: 12px 8.5px;
}

.left.search li a img{
	float: right;
	padding: 12px 8px 12px 8px;
    width:26px;
}

a{
    text-decoration: none;
}

.Entries{
    width: 95%;
    height: 100%;
    margin: 10px 2.5% 10px 2.5%;
    float: left;
}


.head{
    border-bottom: 2px solid #2fc1da;
}

.textArea{
    height: 34.67px;
    width: 100%;
    font-size: 30px;
}



.AllEntries{
    height: 100%;
    width: 49.5%;
    float:left;
}


.Subscribed{
    height: 100%;
    width: 49.5%;
    float:right;
    
}

.nav-separation .name{
    background-color: #f5f5f5;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    color:#777777;
}

.nav-separation .outer{

    color:white;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-separation p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.nav-separation .inner{
    background-repeat: no-repeat;
    background-position: center;
    color: black;
}

.nav-separation{
    width:inherit;
    height:inherit;
    list-style-type: none;
}

.nav-separation .menu{
    height:30px;
    width:100%;
    background-color:#f2f2f2;
    color:black;
}

.nav-separation .menu div{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    font-size: 8px;

}


div.section{
    white-space: nowrap;
    height: 100%;
}


.nav-separation .menu div{
    background-repeat: no-repeat;
    color: black;
    background-position: center;
}


.Subscribed .name{
    background-color: #f5f5f5;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    color:#777777;

}


.all-entries-top{
    height:12px;
    width: 100%;
}

.all-entries-top img{
    height:12px;
    width: 100%;
}

.outer img,.inner img{
    width: 90%;
    height:100%;
}

.nav-separation .name{
    height:24px;
    width:100%
}


.all-entries-top{
    height:12px;
    width: 100%;
}

.nav-separation .name{
    height:24px;
    width:100%
}

.navArea{
    height: 66px;
    width: 100%;
    position : relative;
   }


 
@media screen and (min-width: 400px) {
    .searchBar{
        width:340px;
    }

    .bottomnav>ul.left li {
    float: left;
    font-size: 10px;}

    .bottomnav>ul.right li {
        float: right;
    }

    .bottomnav>ul.left{
        width:400px;
        margin: 0px auto 0px auto;
    }

    .bottomnav>ul.right{
        width:270px;
        margin: auto;
    }
   
    .bottomnav>ul li {margin:0px 0px 0px 3%;}

    .RecentSearches{
        width: 40%;
        float : left;
        max-width: 197px;
        margin: 30px 1% 30px 2%;
 
    }

  }

@media screen and (min-width: 768px) {
    
    .logoUser .searchBar{
        display:block;
        float: left;
        width:40%;
        float:left;
        padding:0px 0px 0px 30px;
    }

    .logo{
        width:20%;
    }

    .logo img{
        height:49px;
    }

    .topnav > .searchBar{
        display: none;
    }
    
    .info .dropdown{
        display: none;
    }

    .info{
        width: 148px;
    } 

    .info .options{
        display:block;
        height: 25px;
        float:right;   
        font-size: 11px;
    }

    .bottomnav>ul.right li{float:right;} 

    .bottomnav>ul.left{
        float: left;
    }
    .bottomnav>ul.right {
        float: right;
    }

    hr{
        display: none;
    }

    .bottomnav{
    height: 40px;
    }

    .bottomnav>ul.left li a{
        font-size: 13px;
        padding: 12px 0px 12px 0px;
    }

    .bottomnav>ul.left{
        width:440px;
      
    }
    


  }

  .bottomnav{
    background-color: #f5f5f5;
    width: 100%;
    padding: 0px 3% 0px 3%;
}